
/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}

/* Chatbot Styles */
.Foodie_chat {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.select ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.select li {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.output {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid #ccc;
  max-width: 500px;
  color: #444;
}

input[type="number"] {
  width: 70%;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
}

.btn:hover {
  background-color: #555;
}

/* New colors */
.Foodie_chat {
  --primary-color: #fb8500;
  --secondary-color: #023047;
  --tertiary-color: #219ebc;
}

.select li:nth-child(odd) {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn {
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: var(--tertiary-color);
}

